<html>
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
    <body>
        <form method="POST">
            <button type='submit' formaction="<%= courseurl %>" >Register new Course!</button>
        </form>
        <form method="POST">
            <button type='submit' formaction="<%= studenturl %>" >Your registered courses</button>
        </form>
    </body>
    
</html>
