<html>
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
    <body>
        <h1>Login</h1>
        <form method="POST" action="/login">
            <p>
                <label>Username:</label>
                <input type="text" class="username" name="username" id="username">
            </p>
            <p>
                <label>Password:</label>
                <input type="text" class="password" name="password" id="password">
            </p>
            <p>
                <button type="submit" value="login" class="login" id="login" >Login</button>
            </p>
        </form>
        <!-- <form method="POST">
            <button type='submit' formaction="<%= courseurl %>" >Register new Course!</button>
        </form>
        <form method="POST">
            <button type='submit' formaction="<%= studenturl %>" >Your registered courses</button>
        </form> -->
    </body>

</html>
