<html>
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
    <body>
        <h1>Login</h1>
        <form method="POST" action="/login">
            <p>
                <label>Username:</label>
                <input type="text" class="username" name="username" id="username">
            </p>
            <p>
                <label>Password:</label>
                <input type="text" class="password" name="password" id="password">
            </p>
            <p>
                <button type="submit" value="login" class="login" id="login" >Login</button>
            </p>
        </form>
        <br><br>
        <p>only for evaluation purpose-</p><br>
        <P>id-pswds ,rithik-1234 , ankita-12345 ,akansha-123456</P>
        <p>See the readme on github</p>
    </body>

</html>
