<html>
    <body>
        <p>Please enter a valid username and password!</p>
        <form method="GET">
                <button formaction="/login">
                    Login again
                </button>
        </form>
        
    </body>
</html>