<html>
    <body>
        <p>Please enter a valid username and password!</p>
        <form method="GET" action="/login">
                <button type="submit">
                    Login again
                </button>
        </form>
    </body>
</html>